.SearchRepo {
    display: flex;
    min-height: 100vh;
    padding: 4px;

    .cards-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
    }
}