.ComHeader {
    color: black;
    
}

.ComSectionOne {
  width: 100%;
  height: 25%;
  position: relative;
  z-index: auto;
}

.ComSectionTwo {
  color: black;
}

.ComFooter{
    text-align: center;
  }
  
.logoGit{
    padding: 1%;
    float: right;
  }

  .logoGitHub3 {
    width: 200px;
    height: 200px;
    
  }