.ComHeader {
    color: black;
    
}

.ComSectionOne {
  width: 100%;
  height: 25%;
  position: relative;
  z-index: auto;
}

.ComSectionTwo {
  color: black;
}

.ComFooter{
    text-align: center;
  }
  
.logoGit{
    padding: 1%;
    float: right;
  }

  .logoGitHub3 {
    width: 200px;
    height: 200px;
    
<<<<<<< HEAD
  }

  .ComSearch1, .ComSearch2, .ComSearch3{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 15px;
=======
>>>>>>> dc867a5b729cb51a6e5f0e2a59653118781bd1f9
  }