.Search {
    margin: 20px 0;
    width: 500px;

    .Search-input {
        background: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        font-family: Arial;
        font-size: 18px;
        outline: 0;
        padding: 20px;
        transition: 0.2s;
        width: 100%;

        &:focus {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        &::placeholder {
            color: #ccc
        }
    }
}

.loader {
    align-items: center;
    display: flex;
    justify-content: center;
}